<%= simple_form_for(@site_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :site_cate, collection: current_user.site_cates, :selected => @site_item.site_cate_id || params[:cate_id] %>
    <%= f.input :site_title %>
    <%= f.input :site_url %>
    <%= f.input :note, :input_html =>{:rows => 4, :cols => 60} %>
    <%= f.input :tag_input, :placeholder => "#ddd" %>
    <%= f.input :site_username %>
    <%= f.input :site_password, input_html: {type: 'input'} %>
    <%= f.input :site_password_tips,  input_html: {type: 'input'} %>
    
    <%#= f.input :visit_count %>
    <%#= f.input :rate_count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
