
<h2>
  <%= @site_item.site_title %>
</h2>

<p>
  <%= link_to @site_item.site_url, @site_item.site_url  %>
</p>

<p>
  <%= @site_item.site_username %>
</p>

<p>
  <%= @site_item.site_password %>
</p>

<p>
  <%= @site_item.site_password_tips %>
</p>

<p>
  <%= @site_item.note %>
</p>

<%= link_to '编辑', edit_site_item_path(@site_item) %> |
<%= link_to '返回', site_items_path %>
