<h2>
  <%= @site_item.site_title %>
</h2>

<p>
  <%= link_to @site_item.site_url, @site_item.site_url  %>
</p>

<p>
  用户名：<%= @site_item.site_username %>
</p>

<p>
  密码：<%= @site_item.site_password %>
</p>

<p>
  密码提示：<%= @site_item.site_password_tips %>
</p>

<p>
  备注：<%= @site_item.note %>
</p>
