<% if @site_items.empty? %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">×</a>
    <div id="flash_notice">

      <p>你好，你还没有添加任务网址哦。</p>

      <h4>首先，确保安装了浏览器插件，通过浏览器插件可以简单方便的添加收藏，<a href="/chrome" target="_blank">请点击这里安装</a></h4>

      <br/><br/>
      手动添加收藏则通过以下步骤：
      <ul>
        <li>
          添加分类, 点击导航：
          <%= link_to image_tag("/assets/blue/plus.png", :width => 42), new_site_cate_path, :title => "添加分类", data: { toggle: "modal", target: "#ajax-modal" } %>
        </li>
        <li>
          添加网址, 点击导航：
          <%= link_to image_tag("/assets/blue/go.png", :width => 42), new_site_item_path, :title => "添加网址", data: { toggle: "modal", target: "#ajax-modal" } %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% unless user_signed_in? %>
  not login?
<% else %>
  <% if current_user.like_view == 'grid' %>
    <%= render :partial => "home/gallery" %>
  <% else %>
    <%= render :partial => "home/list" %>
  <% end %>
  <%= will_paginate @site_items %>
<% end %>
