<div class="row gallery-row"><!-- Begin Gallery Row --> 

<div class="span12">
    <h5 class="title-bg" style="padding-bottom: 12px;"><%= site_cate.name %> 
        <small>daiii at our recent work</small>
        <button class="btn btn-mini hidden-phone" type="button">
          <% if index_page %>
            <%=link_to "浏览更多", site_cate_path(site_cate) %>
          <% else %>
            <%= link_to "添加网址", new_site_item_path, data: { toggle: "modal", target: "#ajax-modal" } %>
          <% end %>
        </button>
    </h5>


<div class="row clearfix no-margin">       
<ul class="thumbnails">
    <%  site_items_no_icons, site_items_has_icons = site_cate.site_items.partition{|s| s.site_icon.blank?} %>
    <% site_items_has_icons.sort{|a, b| b.updated_at <=> a.updated_at}.each do |site_item| %>
      <li class="span3">
        <div class="thumbnail">
          <%=image_tag site_item.site_icon, :alt => site_item.site_title %>
          <h4>
            <%= link_to site_item.site_title.truncate(22, ''), site_item.site_url, :target => '_blank' %>
          </h4>
          <div class="text">
            <%= site_item.note.truncate(45) %>...
            <%=link_to edit_site_item_path(site_item) do %>
              <i class="icon-edit"></i>
            <% end %>
          </div>
        </div>

      </li>
    <% end %>
    <% site_items_no_icons.sort{|a, b| b.updated_at <=> a.updated_at}.each do |site_item| %>
      <li class="span3">
        <div class="thumbnail no_img">
          <h4><%= link_to site_item.site_title.truncate(22, ''), site_item.site_url, :target => '_blank' %></h4>
         <div class="text">
            <%= site_item.note.truncate(28) %>...
            <%=link_to edit_site_item_path(site_item) do %>
              <i class="icon-edit"></i>
            <% end %>
          </div>
        </div>

      </li>
    <% end %>
</ul>
</div>
<!-- Gallery Thumbnails
================================================== -->
</div>
</div>
