<div id="public_share">
	<% @site_items.each do |item| %>
	  <dl class="dl-horizontal">
		  <dt><%= link_to item.user.name, "/public_share?u=#{item.user.id}"%></dt>
		  <dd>
		  	<i><%= distance_of_time_in_words(item.updated_at, Time.now)%>前摘自：</i>
		  	<abbr title="<%= item.site_title%>"><%=link_to item.site_title.truncate(30), item.site_url, :target => "_blank" %></abbr>
		  	<blockquote>
		    	<p><%= item.note.truncate(200) %></p>
		    </blockquote>
		  </dd>
	  </dl>
	<% end %>

	<%#will paginate is not displayed by css %>
	<%=will_paginate @site_items, :page_links => true%>
</div>

