<div class="row gallery-row"><!-- Begin Gallery Row --> 

<div class="span12">
    <h5 class="title-bg" style="padding-bottom: 12px;"><%= site_cate.name %> 
        <small>take daiii at our recent work</small>
        <button class="btn btn-mini hidden-phone" type="button">
            <%= link_to "添加网址", new_site_item_path, data: { toggle: "modal", target: "#ajax-modal" } %>
        </button>
    </h5>


<div class="row clearfix no-margin">       
<ul class="gallery-post-grid holder">
    <%  site_items_no_icons, site_items_has_icons = @site_items.partition{|s| s.site_icon.blank?} %>
    <% site_items_has_icons.each do |site_item| %>
        <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
           <span class="gallery-img">
            <%= link_to image_tag(get_site_icon(site_item), :width => '218px'), get_site_url(site_item), :target => '_blank', :alt => [site_item.site_password,site_item.site_password_tips].join(': ') %>
           </span>

            <span class="project-details">
            <%= link_to site_item.site_title.truncate(17), get_site_url(site_item), :target => '_blank' %>
            <%= site_item.note.truncate(16) %>.</span>
        </li>
    <% end %>

    <% site_items_no_icons.each do |site_item| %>
        <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
            <span class="project-details">
            <%= link_to site_item.site_title.truncate(17), get_site_url(site_item), :target => '_blank' %>
            <%= site_item.note.truncate(30) %>.</span>
        </li>
    <% end %>
</ul>
</div>

<!-- Gallery Thumbnails
================================================== -->
</div>
</div>
