<div class="row gallery-row"><!-- Begin Gallery Row --> 

<div class="span12">
    <h5 class="title-bg" style="padding-bottom: 12px;"><%= site_cate.name %> 
        <small>take daiii at our recent work</small>
        <button class="btn btn-mini hidden-phone" type="button">
            <%= link_to "添加网址", new_site_item_path, data: { toggle: "modal", target: "#ajax-modal" } %>
        </button>
    </h5>
<ul class="thumbnails">
    <%  site_items_no_icons, site_items_has_icons = site_cate.site_items.partition{|s| s.site_icon.blank?} %>
    <% site_items_has_icons.sort{|a, b| b.updated_at <=> a.updated_at}.each do |site_item| %>
      <li class="span3">
 
        <div class="thumbnail">
          <%=image_tag site_item.site_icon, :alt => site_item.site_title %>
          <h4><%= link_to site_item.site_title, site_item.site_url %></h4>
          <p>
            <% if  site_item.site_password %>
                账户：<em><%= site_item.site_username %>:<%= site_item.site_password %>:<%= site_item.site_password_tips %></em><br/>
            <% end %>
            <%= site_item.note %>...</p>
        </div>

      </li>
    <% end %>
    <% site_items_no_icons.sort{|a, b| b.updated_at <=> a.updated_at}.each do |site_item| %>
      <li class="span3">
 
        <div class="thumbnail">
          <h4><%= link_to site_item.site_title, site_item.site_url %></h4>
          <p><% if  site_item.site_password %>
                账户：<em><%= site_item.site_username %>:<%= site_item.site_password %>:<%= site_item.site_password_tips %></em><br/>
            <% end %>
            <%= site_item.note %>...</p>
        </div>

      </li>
    <% end %>
</ul>
<!-- Gallery Thumbnails
================================================== -->
</div>
</div>
