<table border='1'>

<% @site_cates.each do |site_cate| %>
  <tr>
    <td width="120px" height="30px"><%= site_cate.name %></td>
    <td><%= link_to '添加网址', new_site_item_path(:new_site_cate_id => site_cate.id) %></td>
    <td><%= link_to '编辑', edit_site_cate_path(site_cate) %></td>
    <td><%= link_to '删除', site_cate, method: :delete, data: { confirm: '确定删除哇?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加', new_site_cate_path %>
