<ul class="nav">
  <li class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;</li>

  <li>
    <% if current_user.like_view == 'grid' %>
      <%= link_to image_tag("/assets/blue/grid.png", :width => 42), "/home/like_view?like=list", :title => "列表布局" %>
    <% else %>
    <%= link_to image_tag("/assets/blue/book.png", :width => 42), "/home/like_view?like=grid", :title => "网格布局" %>
    <% end %>
  </li>

  <li>
    <%= link_to image_tag("/assets/blue/plus.png", :width => 42), new_site_cate_path, :title => "添加分类", data: { toggle: "modal", target: "#ajax-modal" } %>
  </li>
  <li>
    <%= link_to image_tag("/assets/blue/go.png", :width => 42), new_site_item_path, :title => "添加网址", data: { toggle: "modal", target: "#ajax-modal" } %>
  </li>
  
  <li>
    <%= link_to image_tag("/assets/blue/setting.png", :width => 42), edit_user_registration_path, :title => "个人账户"%>
  </li>

  <% if current_user.has_role? :admin %>
     <li>
      <%= link_to image_tag("/assets/blue/user.png", :width => 42), users_path, :title => "用户管理"%>
    </li>
  <% end %>

  <li>
    <%= link_to image_tag("/assets/blue/exist.png", :width => 42), destroy_user_session_path,  :method=>'delete', :title => "退出"%>
  </li>
</ul>
