<ul class="nav">
  <li>
    <%= link_to "Daiii云端收藏夹", root_path, :class => 'brand' %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to "新建分类", new_site_cate_path, data: { toggle: "modal", target: "#ajax-modal" } %>
    </li>
    <li>
      <%= link_to "添加收藏", new_site_item_path, data: { toggle: "modal", target: "#ajax-modal" } %>
    </li>
    <li>
      <% if current_user.like_view == 'grid' %>
        <%= link_to "列表布局", "/home/like_view?like=list" %>
      <% else %>
        <%= link_to "网格布局", "/home/like_view?like=grid" %>
      <% end %>
    </li>

    <li>
    <%= link_to '退出', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to "登录", "/home/modal_window", data: { toggle: "modal", target: "#ajax-modal" } %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to '管理账户', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to '用户管理', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to '注册', new_user_registration_path %>
    </li>
  <% end %>

</ul>

<%= render 'layouts/modal' %>