<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="author" content="master@inruby.com" />
    <link type="text/plain" rel="author" href="http://www.yufuwu.org/humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DaIII书签" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "DaIII书签" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if IE]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
      <link rel="stylesheet" href="assets/ie.css">
    <![endif]-->
    <!--[if lte IE 6]>
      <link rel="stylesheet" type="text/css" href="assets/bootstrap-ie6.css">
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

<div id="ie-container" class="container-narrow">
  <%= render 'layouts/header' %>

  <hr>

  <%= render 'layouts/messages' %>
  <%= yield %>
</div>
  <%=render 'layouts/footer' %>
  <%= render 'layouts/modal' %>
  <!--[if lte IE 6]>
    <script type="text/javascript" src="assets/bootstrap-ie.js"></script>
  <![endif]-->
  </body>
</html>
